.photo{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 3px rebeccapurple;
}

.initials{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 3px rebeccapurple;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}