.user{
    display: flex;
    gap: 20px;
    margin: 15px;
}

.operator{
    font-weight: 900;
    font-size: 24px;
}

.photo{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 3px rebeccapurple;
}

.initials{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 3px rebeccapurple;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

.name, .email{
    line-height: 30px;
    vertical-align: middle;
}