body{
  font-family: 'Trebuchet MS', sans-serif;
  background-color: rebeccapurple;
}

.container{
  width: 800px;
  margin: auto;
  padding: 30px;
  background-color: white;
}

h1{
  text-align: center;
  color: rebeccapurple;
  font-size: 40px;
  text-decoration: underline;
}